# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/examples/MaxORM-example/cmake-build-debug-esp-idf447/
/examples/MaxORM-example/.idea/
/examples/MaxORM-ex/build/
/examples/MaxORM-ex/cmake-build-default-esp-idf447/
/examples/MaxORM-ex/.idea/
/examples/MaxORM-ex/dependencies.lock
/examples/MaxORM-ex/sdkconfig.old
